<!DOCTYPE html>
<html>
    <head>
        <title>Hye</title>
    </head>
    <body>
        
        <p>The app is under maintainence</p>
        <footer>Please reach us after some time </footer>
    </body>
</html>